
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 6rem;
   scroll-behavior: smooth;
   
 }
header{
  position: absolute;
  top: 0;left: 0;right: 0;
  z-index: 1000;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding:4rem 10%;
}
.logo{
  display: flex;
}
.logo h1{
  color: #236084;
  font-size: 5.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 0 0 0;
}
.logo i{
  font-size: 5em;
  color: #0d2736;
  padding:0 10px;
  
}
.logo h1 span{
  color: #162824;
  padding: 5px;

}


.nav-links li{
  display: inline-block;
  padding: 1.7em 1em;
  
  
}
.nav-links li a{
  transition: all 0.3s ease 0s;
  color:#eef1f4;
  font-weight:bolder;
  font-size: 2.5rem;
  list-style: none;
  text-decoration: none;
}
.nav-links li a:hover{
  text-decoration: underline;
  text-decoration-color:#49C7AB;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 7px;
}
.home-images img{
  object-fit: cover;
  height:100vh;
  width: 100%;
  background-size: cover;
  background-size: contain
  

}
.home{
  padding:2rem 9%;
}

@media (max-width:968px){
  header .nav-links{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgb(245, 220, 220);
  }
  header .nav-links a{
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    
  }
}

/* .home{

  align-items: center;
  min-height: 75vh;
  text-align: center;
  justify-content: center;
} */
.mantra{
  position: absolute;
  z-index: 1000;
  padding:30em;
  width: 150em;
  text-align: center;
  color: rgb(24, 21, 21);
}
.mantra h1{
  font-size: 7rem;
  font-weight: 900;
  padding: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
  
}
.mantra h4{
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;
  letter-spacing: 3px;
}
 img{
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: .7;
}
.overlay{
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  background-color: rgba(22, 146, 163, 0.7);
  

}